<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="/assets/img/me.jpg"/>
        </a>
        <dev class="blogtitle">
            <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a target="_blank" href="/index.html"> About Me</a></li>
            <li>|</li>
            <li><a target="_blank" href="/publication.html"> Publication</a></li>
            <li>|</li>
            <li><a target="_blank" href="/experience.html"> Experience</a></li>
            <li>|</li>
            <li><a target="_blank" href="/contact.html"> Contact</a></li>
        </ul>
    </nav>
</header>
