<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ '/' | absolute_url }}#person",
  "name": "李炫毅",
  "alternateName": "Xuanyi Li",
  "url": "{{ '/' | absolute_url }}",
  "image": "{{ site.favicon | absolute_url }}",
  "jobTitle": "具身模型负责人 / Head of Embodied Models",
  "worksFor": { "@type": "Organization", "name": "众擎机器人", "alternateName": "EngineAI Robotics" },
  "sameAs": ["https://github.com/meteorshowers", "https://www.linkedin.com/in/xuanyi-li-650139111"]
}
</script>
